.color-secondary {
    color: $secondary !important;
}
.color-primary {
    color: $primary !important;
}
.color-black {
    color: $black !important;
}
.bold {
    font-weight: 700 !important;
}
.italic {
    font-style: italic !important; 
}
.text-decoration-underline {
    text-decoration: underline !important;
}